<div class="sidebox">
  <div>
    <%= link_to user_profile_path do %>
      <div class="avatar-box">
        <% if current_user.photo %>
          <%= image_tag current_user.photo.url(:bright_face), class:"sidebar-avatar" %>
        <% else %>
          <%= image_tag "profile-placeholder.png", class:"sidebar-avatar" %>
        <% end %>
          <p class="avatar-level"><%= current_user.level %></p>
      </div>
      <h5><%= current_user.name %></h5>
    <% end %>
  </div>
  <div>
    <%= link_to leads_path do %>
      <h1>
        <i class="fas fa-briefcase"></i>
      </h1>
      <p>Leads</p>
    <% end %>
  </div>
  <div>
    <%= link_to activities_path do %>
      <h1>
        <i class="fas fa-clipboard-list"></i>
      </h1>
      <p>Atividades</p>
    <% end %>
  </div>
  <div>
    <%= link_to contacts_path do %>
      <h1>
        <i class="fas fa-users"></i>
      </h1>
      <p>Contatos</p>
    <% end %>
  </div>
  <div>
    <%= link_to challenges_path do %>
      <h1>
        <i class="fas fa-trophy"></i>
      </h1>
      <p>Progresso</p>
    <% end %>
  </div>
  <% if current_user.admin? %>
    <div>
      <%= link_to goals_path do %>
        <h1>
          <i class="fas fa-sliders-h"></i>
        </h1>
        <p>Gestão de metas</p>
      <% end %>
    </div>
  <% end %>
</div>
