<div class="sidebox">
  <%= image_tag "hamaji", class:"sidebar-avatar" %>
  <h5>Nome</h5>
    <p><%= current_user.name %></p>
  <div>
    <h1>
      <i class="fas fa-briefcase"></i>
    </h1>
    <p>Negócios</p>
  </div>
  <div>
    <h1>
      <i class="fas fa-thumbs-up"></i>
    </h1>
    <p>Prospecções</p>
  </div>
  <div>
    <%= link_to activities_path do %>
      <h1>
        <i class="fas fa-clipboard-list"></i>
      </h1>
      <p>Atividades</p>
    <% end %>
  </div>
  <div>
    <%= link_to contacts_path do %>
      <h1>
        <i class="fas fa-users"></i>
      </h1>
      <p>Contatos</p>
    <% end %>
  </div>
  <div>
    <%= link_to challenges_path do %>
      <h1>
        <i class="fas fa-trophy"></i>
      </h1>
      <p>Conquistas</p>
    <% end %>
  </div>
  <div>
    <%= link_to control_panel_path do %>
      <h1>
        <i class="fas fa-sliders-h"></i>
      </h1>
      <p>Configurações</p>
    <% end %>
  </div>
</div>
