
<div class="leads-container">
  <div class="header-bar d-flex">
    <h2>Leads:</h2>
    <%= link_to 'Adicionar Lead', new_lead_path, class: 'btn btn-primary' %>
  </div>

  <div class="sales-funnel-wrapper">

    <% SalesFunnelStage.all.each do |funnel_stage| %>
      <div class="stage-wrapper">
        <div class="stage-header">
          <p><%= funnel_stage.name %></p>
          <p><%= humanized_money_with_symbol(Money.new(funnel_stage.leads.pluck(:revenue_cents).sum), currency: "brl") %></p>
        </div>

        <div class="stage-body" ondrop="ondrop_handler(event)" ondragover="dragover_handler(event)" data-identifier="<%= funnel_stage.identifier %>">

          <% @leads.where(sales_funnel_stage: funnel_stage).each do |lead| %>

            <div id="lead-<%= lead.id %>" draggable="true" data-lead_id="<%= lead.id %>"class="lead-card <%= "lost-lead" if lead.lost? %> <%= "won-lead" if lead.won? %>">
              <%= link_to lead_path(lead) do %>
                <p><%= lead.business_name %></p>
                <p><%= humanized_money_with_symbol(lead.revenue) %></p>
              <% end %>
            </div>

          <% end %>

        </div>
      </div>
    <% end %>

  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render(:partial => 'leads', :handlers => [:erb], :formats => [:js]) %>
  <% end %>
<% end %>







