<div class="container">

<h1>Nome: <%= @lead.business_name %>
<%= link_to edit_lead_path(@lead.id), class: "edit-icon" do %>
  <i class="fas fa-edit"></i>
<% end %>
<%= link_to lead_path(@lead.id), method: :delete, class: "delete-icon", onclick: "if (!confirm('Você tem certeza que deseja deletar?')) { return false }" do %>
  <i class="fas fa-trash-alt"></i>
<% end %>
</h1> 

<p>Estágio: <%= @lead.sales_funnel_stage.name %></p>

<ul class="nav nav-tabs lavalamp mb-2" id="myTab" role="tablist">
  <div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 139.656px; height: 40px; transform: translate(128.141px, 0px);">
  </div>
  <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
    <a class="nav-link show active" id="notas-tab" data-toggle="tab" href="#notas" role="tab" aria-controls="notas" aria-selected="true" onclick="return false">Notas</a>
  </li>
  <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
    <a class="nav-link show" id="atividades-tab" data-toggle="tab" href="#atividades" role="tab" aria-controls="atividades" aria-selected="false" onclick="return false">Atividades</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active show" id="notas" role="tabpanel" aria-labelledby="notas-tab">
      <% @lead.notes.each do |note| %>
        <div class="notification">
          <% if note.user.photo.url %>
            <%= image_tag note.user.photo.url(:avatar), class:"avatar-large" %>
          <% else %>
            <%= image_tag "profile-placeholder.png", class:"avatar-large" %>
          <% end %>
          <div class="notification-content">
            <p><small><%= note.user.name %> - <%= note.created_at.strftime('%m/%e/%y | %l:%M %p') %></small></p>
            <p><%= note.description %></p>
            <p><small></small></p>
          </div>

          <div class="notification-actions">
            <%= link_to note_path(note), method: :delete do %>Delete <i class="far fa-trash-alt"></i><% end %>
          </div>
        </div>
      <% end %>

    <h5 class="section-title">Adicionar nova nota:</h5>
    <%= simple_form_for @note do |f| %>
      <%= f.input :description, label: "Nota" %>
      <%= f.input :lead_id, as: :hidden, input_html: { value: @lead.id } %>

      <%= f.submit "Criar nota", class: "btn btn-primary" %>
    <% end %>

  </div>
  <div class="tab-pane fade" id="atividades" role="tabpanel" aria-labelledby="atividades-tab">
    <ul>
      <% @lead.activities.each do |activity| %>
        <li>
          <%= link_to activity_path(activity) do %>
            <p><%= activity.title %></p>
            <p><%= activity.description %></p>
            <p><%= activity.date %></p>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h4>Adicionar nova atividade:</h4>
    <%= simple_form_for @activity do |f| %>
      <%= f.input :title, label: "Título" %>
      <%= f.input :description, label: "Descrição" %>
      <%= f.input :contact_id, collection: @lead.contacts, label: "Contato" %>
      <%= f.input :date, as: :datetime, label: "Data e Horário" %>
      <%= f.input :lead_id, as: :hidden, input_html: { value: @lead.id } %>

      <%= f.submit "Criar atividade", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>


<h3>Contatos:</h3>
<ul>
  <% @lead.contacts.each do |contact| %>
    <li>
      <%= link_to contact_path(contact) do %>
        <p>Nome: <%= contact.name %></p>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Adicionar contato', new_contact_path(lead_id: @lead), class: "btn btn-primary" %>

<h3>Notas:</h3>




<h3>Atividades:</h3>






<%= link_to 'Voltar', leads_path, class: "btn btn-primary" %>

</div>
