<div class="leads-container">
  <div class="d-flex">
  <h2>Contatos:</h2>
  <%= link_to 'Adicionar Contato', new_contact_path, class: 'btn btn-primary' %>
  </div>

    <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col">Posição</th>
        <th scope="col">Lead Associado</th>
      </tr>
    </thead>
    <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <%= link_to contact_path(contact) do %>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.position %></td>
      <% end %>
        <td><%= contact.lead.business_name if contact.lead %></td>
    </tr>
      <% end %>
    </tbody>
  </table>
</div>

