<div class="fullbox">
  <div>
    <%= render 'shared/sidebar' %>
  </div>
  <div>
    <%= link_to 'Adicionar Contato', new_contact_path, class: 'btn btn-primary' %>
    <h1>Contatos:</h1>
    <ul>
    <% @contacts.each do |contact| %>
      <li>
        <%= link_to contact_path(contact) do %>
          <p>Nome: <%= contact.name %></p>
        <% end %>
          <p>Lead Associado: <%= contact.lead.business_name if contact.lead %></p>
      </li>
    <% end %>
    </ul>
  </div>
</div>
