<h1>Nome: <%= @contact.name %></h1>

<p>Lead Associado: <%= link_to @contact.lead.business_name, lead_path(@contact.lead) if @contact.lead %></p>

<%= link_to edit_contact_path(@contact), class: "edit-icon" do %>
  <i class="fas fa-edit"></i>
<% end %>
<%= link_to contact_path(@contact), method: :delete, class: "delete-icon", onclick: "if (!confirm('Você tem certeza que deseja deletar?')) { return false }" do %>
  <i class="fas fa-trash-alt"></i>
<% end %>

<%= link_to 'Voltar', contacts_path, class: "btn btn-primary" %>